<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5836224691621036"
     crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5836224691621036"
     crossorigin="anonymous"></script>
    <meta name="propeller" content="2303b7643106ef201af8a5850d4e1544">
  </head>
  <body bgcolor="black">
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5836224691621036"
     crossorigin="anonymous"></script>
    <!-- Horizontal -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-5836224691621036"
         data-ad-slot="3679858548"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script async="async" data-cfasync="false" src="//upgulpinon.com/1?z=5081494"></script>
    <script>
        (function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://inklinkor.com/tag.min.js',5077528,document.body||document.documentElement)
    </script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </body>
</html>
